# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgres://udabol:udabol@localhost:3031/udabol"
JWT_SECRET_KEY="9372d9183601fc4638132a2be1e392c3ce8eb3effe51eb03ae5c1d7d887dfa44b824b09a90d0890308726ba08ecfe039c73175abc1047f5d604d01447f616d24"
URL_FRONTEND="http://localhost:5173"
URL_WEBHOOK="https://n8n2.udabol.edu.bo/webhook/b8cf29c8-cb13-4b3b-a4a9-7428c697b0f3"

GOOGLE_CLIENT_ID=tu-client-id-de-google
GOOGLE_CLIENT_SECRET=tu-client-secret-de-google
GOOGLE_CALLBACK_URL=https://tu-backend.com/auth/google/redirect
FRONTEND_URL=https://tu-frontend.com